
  main.svelte-w5t65j {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
  }

  h1.svelte-w5t65j {
    font-size: 24px;
    color: #333;
  }
